body {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.rope input, button, input {
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin: 1px;
}

.rope, label {
  display: block;
}

label * {
  vertical-align: middle;
}

input#join {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

#lengths, #results {
  margin: 1rem 0rem;
}

table, td {
  border: 1px solid #333;
}

/* Leaflet map */

div#map {
  height: 20rem;
  width: 40rem;
  max-height: 95%;
  max-width: 100%;
}

.leaflet-marker-icon.black {
  filter: saturate(0);
}

.leaflet-marker-icon:not(.black) {
  filter: hue-rotate(190deg) brightness(200%);
}

#lost_message {
  display: none;
}

/* Install */
p.install {
  display: none;
}

/* Colours */
html {
  background-color: #eee;
}

thead, tfoot {
  background-color: #333;
  color: #fff;
}

input:checked + .join, tr.join {
  background: #ff9;
}

@media (prefers-color-scheme: dark) {

  body {
    filter: invert(100%);
  }

  div#map {
    filter: invert(100%);
  }

  html {
    background-color: #111;
  }
  
  .leaflet-marker-icon:not(.black) {
    filter: invert(0%);
  }

}
